* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

body,
.header__link,
button {
  color: white;
}

.header__container {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  padding: 2em;
}

.header__logo {
  position: relative;
  display: block;
  width: calc(7em + 8vw);
  max-width: 12em;
  margin-top: 0.5em;
}

.header__logo img,
.footer__logo svg {
  width: 100%;
  height: auto;
}

.header__link {
  position: relative;
  font-size: clamp(0.65em, -0.5em + 5vw, 1em);
  text-decoration: none;
}

.header__link:nth-child(2) {
  margin: 0 0.5em;
}

.header__link:hover::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: hsl(176, 68%, 64%);
  -webkit-animation: line 0.75s 1 forwards;
  animation: line 0.75s 1 forwards;
}

@-webkit-keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

header,
main {
  background-color: hsl(218, 28%, 13%);
}

section {
  padding: 0 2em;
}

section .img img {
  margin-top: 3em;
  width: 100%;
  height: auto;
}

.intro__text h1 {
  font-size: clamp(1.5em, -0.875em + 8.333vw, 2em);
  line-height: 1.5em;
  text-align: center;
  margin-top: 2em;
}

.informations-section div h2,
.text h2 {
  font-size: clamp(1.2em, -0.875em + 7.333vw, 1.7em);
}

.intro__text p,
.informations-section div p,
.text p {
  font-size: clamp(1em, -0.675em + 5.5vw, 1.1em);
  line-height: 1.5em;
}

.text {
  margin: 2em 0 3.5em;
}

.introduction {
  padding-bottom: 2em;
}

.intro__text p {
  text-align: center;
  margin: 2em auto 0;
  width: 93%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 1em 2em;
}

.form input,
button {
  width: 100%;
  border-radius: 2em;
  height: 3.5em;
}

.form input {
  padding-left: 2em;
  color: hsl(0, 0%, 75%);
}

.intro button {
  max-width: 20em;
}

button {
  border: none;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  box-shadow: border;
  margin: 1em 0;
  cursor: pointer;
}

#email-form button:hover {
  opacity: 0.8;
}

.introduction .form input {
  border: 1px solid hsl(243, 87%, 12%);
}

.informations-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5em;
  padding: 1em;
}

.informations-section div h2 {
  text-align: center;
  padding: 1em 0;
}

.informations-section div p {
  text-align: center;
}

.productivity .text h2 {
  padding: 1em 0 3em;
}

.productivity .text p:nth-child(3) {
  padding: 2em 0 3em;
}

.productivity .text .link {
  font-size: 1em;
}

.link a {
  border-bottom: 1px solid hsl(176, 68%, 64%);
  color: hsl(176, 68%, 64%);
  text-decoration: none;
  padding-bottom: 0.25em;
}

.link a:hover {
  opacity: 0.5;
}

.arrow-icon {
  position: relative;
  top: 0.25em;
  display: inline-flex;
  align-self: center;
  width: 1.2em;
  height: 1.2em;
}

.profile__card-section {
  margin: 10em 0 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
}

.profile__card {
  position: relative;
  border-radius: 0.5em;
  background-color: hsl(219, 30%, 18%);
  -webkit-box-shadow: 0px 10px 13px -7px hsl(243, 87%, 12%),
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px hsl(243, 87%, 12%),
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  font-size: clamp(0.8em, 1.5vw, 1em);
  margin: 1em 0.5em;
  padding: 2em;
  width: 100%;
  max-width: 40em;
  z-index: 0;
}

.comments {
  line-height: 1.5em;
  margin-bottom: 1em;
}

.profile {
  display: flex;
  flex-direction: row;
}

.profile-title {
  align-self: center;
  font-weight: 700;
  line-height: 1.5em;
}

.profile img {
  border-radius: 50%;
  width: 3em;
  margin-right: 1.5em;
}

.profile-status {
  font-weight: 400;
}

.subscription-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription {
  position: absolute;
  background-color: hsl(217, 28%, 15%);
  border-radius: 0.5em;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 8%);
  bottom: -12em;
  z-index: 1;
  max-width: 55em;
  min-width: 22em;
  width: 90%;
  padding: 0 1.5em;
}

.subscription .text h2 {
  text-align: center;
}

.subscription .text p {
  text-align: center;
  padding-top: 2em;
}

.subscription .form input {
  border: none;
}

#error-message {
  color: red;
  margin-top: 0.5em;
  font-size: 0.8em;
  text-align: center;
}

.hide {
  display: none;
}

footer {
  position: relative;
  background-color: hsl(216, 53%, 9%);
  padding-top: 5em;
}

footer p,
.location span {
  line-height: 1.5em;
}

.footer__logo {
  width: calc(9em + 10vw);
  margin: 12em 2em 4em;
}

.footer__main-content {
  margin: 0 2em 2em;
}

.contacts {
  margin: 0;
  max-width: 30em;
}

.location span,
.contacts span {
  margin-left: 1em;
}

.phone,
.mail {
  display: flex;
  justify-content: start;
  align-items: center;
}

.phone {
  padding: 4em 0 2em;
}

.informations {
  margin: 2em 0 1em;
  min-width: 20.4em;
  max-width: 60%;
}

.part__one {
  margin: 4em 0 2.5em;
}

li {
  line-height: 2.5em;
  list-style: none;
}

.footer__socials--icons {
  margin: 2.5em auto;
  width: 9.5em;
  word-spacing: 1em;
}

.link svg {
  fill: white;
  width: 2em;
  height: auto;
}

.facebook:hover {
  fill: hsl(220, 46%, 48%);
}

.instagram:hover {
  fill: url(#gradient);
}

.twitter:hover {
  fill: hsl(203, 89%, 53%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: auto;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  .header__logo {
    margin-top: 2em;
  }

  section {
    padding: 0 4em;
  }

  section .img {
    display: flex;
    justify-content: center;
  }

  section .img img {
    width: 80%;
  }

  .email-form .form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .email-form .form input {
    width: 63%;
  }

  .email-form .form button {
    margin: 0;
    width: 35%;
  }

  .quote-icon {
    left: 10em;
  }

  footer {
    padding-left: 3.5em;
  }
}

@media (min-width: 1280px) {
  header {
    padding: 0 2em;
  }

  .header__link:nth-child(2) {
    margin: 0 2em;
  }

  .introduction {
    padding: 0 3em;
  }

  .introduction {
    margin: auto;
    width: 50em;
  }

  .introduction .img img {
    width: 80%;
  }

  .informations-section {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin: 6em auto 4em;
    width: 80%;
  }

  .productivity {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .quote-icon {
    left: 5.5em;
  }

  .profile__card-section {
    flex-direction: row;
  }

  .subscription {
    bottom: -8em;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 10em 5em 0;
  }

  .footer__main-content,
  .footer__info,
  .informations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__main-content {
    width: 100%;
  }

  .location {
    margin-right: 5em;
    width: 22em;
  }

  .phone {
    padding: 0.5em 0 2em;
  }

  .informations,
  .informations .part__one {
    margin: 0;
  }

  .informations .part__one {
    margin-left: 5em;
  }

  .footer__socials--icons {
    margin-top: 5em;
  }

  .footer__logo,
  .attribution {
    margin-top: 5em;
  }

  .footer__socials--icons {
    margin-top: 0;
  }
}
